
.DS_Store
GA/.idea/
GA/build/
GA/herbga.egg-info/
PyGAD/.idea/
*.log
PyGAD/logs/*
DbConnection/*.properties
PyGAD/dbConnection/credentials.properties

.idea/
Backend/django_backend_sob3/app/herbGA_logs/

Backend/django_backend_sob3/app/warehouse_project/__pycache__/

Backend/django_backend_sob3/app/warehouse_app/migrations/
./Backend/django_backend_sod3/app/venv
Backend\django_backend_sob3\app\venv
Backend/django_backend_sob3/app/api_test_scripts/Pickdata.txt
Backend/django_backend_sob3/app/api_test_scripts/Location_matrix_2_0.csv
Backend/django_backend_sob3/app/api_test_scripts/new_masterlist.xlsx
Backend/django_backend_sob3/app/api_test_scripts/solution_generations.json
Backend/django_backend_sob3/app/warehouse_app/__pycache__/
Backend/django_backend_sob3/app/warehouse_app/__pycache__/*
**/*.pyc
venv/
*/venv/*
